body, body > .row > .col{min-height: 540px; height: 100%;}
body > .row{margin-bottom: 0;}
body > .row > .collapsible{border: none; margin: 0; background-color: #7b1fa2;}
.collapsible-header{background-color: inherit !important;}
.collapsible-body.collection > .collection-item{background-color: #8e24aa; color: white; border-bottom: 2px solid rgba(224, 224, 224, 0.3);}