extends ./_base

block title
	title Página Inicial - Folhetim
block content
	.row
		.col.s3
			.card.small
				.card-image.waves-effect.waves-block.waves-light
					img.activator(src='img/folhetim.jpg')
				.card-content
					span.card-title.activator.grey-text.text-darken-4
						| Título do Cartão
						i.material-icons.right more_vert
					p: a= Link
				.card-reveal
					span.card-title.grey-text.text-darken-4
						| Título do Cartão
						i.material-icons.right close
					p Existem mais informações só reveladas ao clique